 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&family=Raleway:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    }
      
::-webkit-scrollbar-track {
    background: #777777;
    width: 6px;
    height: 90%;
    border-radius: 999px;
    }
      
::-webkit-scrollbar-thumb {
    background: #FFCC21;
    border-radius: 999px;
    }
      
::-webkit-scrollbar-thumb:hover {
   background: #FF963C;
   border-radius: 999px;
    }